
<div id="articles">
{{#each articles}}
  <article>
    <h1> {{title}} </h1>
    <p> {{content}} </p>
  </article>
{{/each}}
</div>

<div>
  <button id=loadMore>加载更多</button>
  <button hidden id="noMore">没有更多</button>
</div>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
{
  let page = 1
  $button = $('#loadMore')
  $button.on('click', function(){
    $.get(`/paged?page=${page+1}`, (response)=>{
      let {articles} = response
      articles.forEach((article,index)=>{
        let $article = $(`<article><h1>${article.title}</h1><p>${article.content}</p></article>`)
        $article.appendTo($('#articles'))
      })
      page+= 1
      if(response.currentPage >= response.totalPages){
        $button.attr('hidden', true).attr('disabled', true)
        $('#noMore').attr('hidden', false)
      }
    })
  })

  $(window).on('scroll', function(){
    let delta = loadMore.getBoundingClientRect().top - document.documentElement.clientHeight
    if(delta < 100){
      loadMore.click()
    }
  })
}

</script>
